body{
    background-color: #000;
}

#content{
    height: 500px;
    width: 900px;
    background-color: #000;
    background-image: url("img/bg.jpg");
    margin: 0 auto;
}

#main{
    position: relative;
    top: 40px;
    margin: 0 auto;
    height: 400px;
    width: 800px;
    background-color: rgba(0,0,0, 0.5);
}

ul {
padding: 0;
position:relative;
top: 20px;
left: 50px;
}
/* Listelementen <LI> med knapparna */
#meny li {
display: inline;
list-style: none;
}
#meny li a {
margin: 0 5px 0 0;
padding: 5px 30px 5px 30px;
text-align: center;
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
font-size: 15px;
color: rgba(66,48,1,1);
border-radius: 5px;
border: 1px solid rgba(105,181,50,1);
background: rgba(173, 133, 92, 1);
box-shadow: 
inset 0 0 0 1px rgba(255, 255, 255, 0.3), 
0 2px 3px rgba(0,0,0,0.70);
}
#meny li a:hover {
cursor: pointer; 
background: rgba(178,232,139,1); 
color: rgba(0,0,0,1);
}
#meny a:link, #meny a:visited { 
color: rgba(255,255,255,1);
text-decoration: none;
}
#meny a:active { 
color: rgba(250,191,12,1);
}
#meny a#current {
background: rgba(178,232,139,1); 
}

h1{
    margin: 5px;
    color: rgba(173, 133, 92, 1);
    border-bottom: 1px solid ''rgba(178,232,139,1);
}

.gettogether{
    color: white;
    margin-left: 10px;
}

.hidden{
    display: none;
}

.info{
    padding-left: 10px;
    width: 200px;
    border: 1px solid rgba(178,232,139,1);
}

a:link { color: #fff; text-decoration: none;}
a:visited { color: #fff; }
a:hover { background-color: #FFFF00; }
